<ul class="nav nav-pills nav-fill my-4">
  <li class="nav-item text-start">
    <img src="./assets/images/mifi-logo-small.png" alt="logo" class="header-image" id="" [routerLink]="['/']" >
  </li>
  <li class="nav-item">
    <h1>{{pagetitle}}</h1>
    <div class="subtitle" *ngIf="subtitle.length > 0">{{subtitle}}</div>
  </li>
  <li class="nav-item text-end">
    <img *ngIf="showPhoto" src="./assets/images/dummy-portrait.jpg" alt="logo" class="header-image" id="" [routerLink]="['/profile']" >
    <div *ngIf="!showPhoto">&nbsp;</div>
  </li>
</ul>
