<div class="col-md-12">
    <div class="card card-container">
        <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="username">Username:</label>
                <input
                    type="text"
                    class="form-control"
                    id="username"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    minlength="4"
                    #username="ngModel"
                />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.errors?.['required']">
                    Username is required!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && username.errors?.['minlength']">
                    Username must be at least 4 characters!
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="4"
                    #password="ngModel"
                />
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.errors?.['required']">
                    Password is required!
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && password.errors?.['minlength']">
                    Password must be at least 4 characters!
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block">Login</button>
            </div>
            <div class="form-group">
                <div class="alert alert-danger" role="alert" *ngIf="f.submitted && isLoginFailed">
                    Login failed {{ errorMessage.fieldError }} -> {{ errorMessage.errorMessage }} !!!
                </div>
            </div>
        </form>

        <div class="alert alert-success" *ngIf="isLoggedIn">
            <div *ngFor="let role of roles">Logged in as {{ role.authority }}.</div>
        </div>
    </div>
</div>
