<app-header [pagetitle]="('hello' | transloco) + ', Nikola'" [showPhoto]="true" [subtitle]="''"></app-header>

<div class="row class my-5">
    <div class="col container-rounded small-container mx-2 py-3">
        <div class="row bg-white mx-1 p-2 small-container-entry mb-3">
            <div class="col-1 text-start px-2">
                <img src="./assets/images/coba-logo.png" />
            </div>
            <div class="col-8">DSK Bank</div>
            <div class="col-3 color-black d-flex justify-content-end">
              <mat-icon>assignment_turned_in</mat-icon><mat-icon>update</mat-icon>
            </div>
        </div>

        <div class="row bg-white mx-1 p-2 small-container-entry mb-3">
          <div class="col-1 text-start px-2">
              <img src="./assets/images/coba-logo.png" />
          </div>
          <div class="col-8">DSK Bank</div>
          <div class="col-3 color-black d-flex justify-content-end">
            <mat-icon>assignment_turned_in</mat-icon><mat-icon>update</mat-icon>
          </div>
      </div>

      <div class="row bg-white mx-1 p-2 small-container-entry ">
        <div class="col-1 text-start px-2">
            <img src="./assets/images/coba-logo.png" />
        </div>
        <div class="col-8">DSK Bank</div>
        <div class="col-3 color-black d-flex justify-content-end">
          <mat-icon>assignment_turned_in</mat-icon><mat-icon>update</mat-icon>
        </div>
    </div>
    </div>
</div>

bank list<br />
learning list<br />
hub list<br />
language switcher <br />

<app-footer></app-footer>
