/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  background-color: #EAF6FF;
}

.language-switcher-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #EAF6FF;
  padding-top: 0.5rem;
}

/* COMMON */
.color-black {
  color: black !important;
}

.color-dark-gray {
  color: #656565 !important;
}

.container-rounded {
  border-radius: 15px;
}

#full-screen-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 100;
}

#full-screen-loader-spinner {
  position: absolute;
  top: 50%;
  left: 45%;
}

.small-container {
  background-color: #E9E9E9;
}

.small-container-entry {
  height: 3rem;
  display: flex;
  align-items: center;
  border-radius: 7px;
  color: #0050AD;
  font-size: 1rem;
}

.small-container-entry img {
  height: 1rem;
}

.small-container-title {
  font-size: 1rem;
}

.mifi-color-link {
  color: #0050AD;
}

.mifi-see-more {
  font-size: 1rem;
}


/* OVERWRITING BOOTSTRAP */
.input-group-text {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  background-color: white;
  padding-left: 0;
}

.form-control {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  text-align: end;
  background-color: white !important;
}

.form-select {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  text-align: end;
}
