/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  background-color: #EAF6FF;
}

.language-switcher-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #EAF6FF;
  padding-top: 0.5rem;
}

/* COMMON */
.color-black {
  color: black !important;
}

.container-rounded {
  border-radius: 15px;
}

/* OVERWRITING BOOTSTRAP */
.input-group-text {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  background-color: white;
  padding-left: 0;
}

.form-control {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  text-align: end;
  background-color: white !important;
}

.form-select {
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-radius: 0 !important;
  text-align: end;
}