/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body,
html {
  background-color: #EAF6FF;
}

.language-switcher-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.color-black {
  color: black !important;
}